<div id ="photoMainDiv" ng-controller="PhotoListCtrl"  ng-init="init()">
  <div class="bar">
		<!-- These two buttons switch the layout variable,
			 which causes the correct UL to be shown. -->
		<a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
		<a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
		<a class="folder-icon" ng-class="{active: listingId == null}" ng-click="listingId=null;init()"></a>
	</div>
    <div ng-show="listingId">
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
    </div>
    <!-- Start Photos grid view views-->
	<ul ng-show="listingId && layout == 'grid'" class="grid">
		<!-- A view with big photos and no text -->
		<li ng-repeat="p in photos">
			<a href="#" ng-click="$parent.photoDialogShown= true; $parent.photoDialogPhoto = p"><img ng-src="{{p.thumbPath}}" /></a>
		</li>
	</ul>

	<ul ng-show="listingId && layout == 'list'" class="list">

		<li ng-repeat="p in photos">
            <div>
			    <a href="#" ng-click="$parent.photoDialogShown= true; $parent.photoDialogPhoto = p"><img ng-src="{{p.thumbPath}}" /></a>

                <p class="tags"> <span style="color: #389dc1">Edit Tags</span> {{p.tags.toString()}}</p>

                <p class="likes">{{p.likes}} {{ p.likes > 1 ? 'likes':'like' }}</p>
                <input type="text" ui-select2="select2Options" ng-model="p.tags" class="tagtext" style="visibility: hidden" >
                <p><a href="#" ng-click="doLike(p)">Like</a>&nbsp;|&nbsp;
                    <a href="#" class="saveTags">Save Tags</a><input type="hidden" value="{{p}}" class="photoIdHidden"></p>

            </div>
		</li>
	</ul>
    <!-- End photos grid view views-->

	<!-- Start Listings views-->
	<ul ng-show="!listingId && layout == 'grid'" class="grid">
		<li ng-repeat="l in listings">
			<a href="#" ng-click="$parent.listingId = l.id; $parent.init()">{{l.name}}</a>
		</li>
	</ul>
	<ul ng-show="!listingId && layout == 'list'" class="list">
		<li ng-repeat="l in listings">
			<a href="#" ng-click="$parent.listingId = l.id; $parent.init()">{{l.name}}</a>
			<p>Last modified: {{l.updatedAt | date:'MM-dd-yyyy HH:MM'}}</p>
		</li>
	</ul>
    <!-- End Listings views-->


    <!--Start of the modal dialog -->
    <modal-dialog show='photoDialogShown' height='80%' width='80%'>

            <div class="col-lg-9">
                <img ng-src="{{photoDialogPhoto.filePath}}" width="80%"/>
            </div>
            <div class="col-lg-3" style="text-align: left">
                <p class="tags">Tags: {{photoDialogPhoto.tags.toString()}}</p>
                <p class="likes">{{photoDialogPhoto.likes}} {{ photoDialogPhoto.likes > 1 ? 'likes':'like' }}</p>
                <!--<input type="text" id = "modalTag" ui-select2="select2Options" ng-model="photoDialogPhoto.tags1" class="tagtext" style="visibility: hidden" > -->
                <p><a href="#" ng-click="doLike(photoDialogPhoto)">Like</a>
                    <a href="#" class="saveTags">Save</a><input type="hidden" value="{{photoDialogPhoto}}" class="photoIdHidden" id = "modalTagHidden">
                </p>
            </div>
    </modal-dialog>


    <!-- End -->

</div>
<script>
    //console.log('Inside bind');
    jQuery(document).ready(function(){
        jQuery('#photoMainDiv').on('click', '.tags', function(e){
            //console.log('Inside javascript');
            jQuery(this).hide();
            jQuery(this).siblings('.select2-container').css('visibility', 'visible');
        });
        jQuery('#photoMainDiv').on('click', 'p', function(e){
            e.stopPropagation();
        });
        jQuery('#photoMainDiv').on('click', '.saveTags', function(e){
            angular.element('#photoMainDiv').scope().applyTags(jQuery(this).siblings('.photoIdHidden').val());
        });
        jQuery('#photoMainDiv').click(function(e){
            //console.log('1Inside javascript');
            //console.log(this);
            jQuery('.tags').show();
            jQuery('.select2-container').css('visibility', 'hidden');
            //angular.element('#photoMainDiv').scope().applyTags();
        });

    });

</script>

